.navbar {
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.navbarBrand {
  display: flex;
  font-family: Metropolis;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  color: #db3022;
  margin-right: 80px;
  text-decoration: none;
}

.title {
  height: 100%;
  padding-top: 18px;
  margin-left: 5px;
}

.navbarBrand:hover {
  color: #db3022;
}

.searchGroup {
  position: relative;
}

.search {
  position: absolute;
  right: 5%;
  bottom: 50%;
  color: #dadada;
  height: 15px;
  width: 15px;
  transform: translateY(40%);
}

.search:focus {
  outline: none !important;
}

.filter {
  padding: 0;
  border: 0;
  background: transparent;
}

.btn {
  font-family: Metropolis;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #9b9b9b;
  height: 36px;
  width: 100px;
  border: 1px solid #9b9b9b;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background: #db3022;
  color: #fff;
}

li {
  list-style: none;
}

.containerImage {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.navbars {
  margin-left: 40px;
}

.isMobile {
  display: none;
}

@media (max-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
  }

  .filter {
    padding-left: 10px;
  }

  .navItem {
    width: 100%;
    justify-content: space-between;
  }

  .searchGroup {
    width: 100%;
  }

  .marginInMobile {
    margin-top: 16px;
  }

  .isMobile {
    display: block;
  }
}
