.button {
  background: unset;
  box-sizing: border-box;
  border-radius: 24px;
  font-size: 14px;
  border: 1.5px solid rgb(34, 34, 34);
}

.button:hover {
  background: rgb(219, 48, 34);
  border: unset;
  color: #fff;
}

.payment {
  width: 322px;
  height: 36px;
}

@media (max-width: 576px) {
  .payment {
    width: 100%;
  }
}