body {
  margin: 0;
  padding: 0;
  font-family: Metropolis !important;
}

@font-face {
  font-family: Metropolis;
  src: url("./assets/fonts/Metropolis_Font_Family_(Fontmirror)/Metropolis-Regular 400.otf");
}

.tab.active {
  border-bottom: 3px solid #db3022;
  color: #db3022 !important;
}

.pagination li.active {
  color: #db3022 !important;
  font-weight: bold;
}

.pagination li a {
  margin: 5px;
}

.img-slider {
  width: 350px !important;
  height: 130px;
  margin: 0 5px;
}

.img-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

ol.breadcrumb {
  margin: unset;
}

ol.breadcrumb li,
ol.breadcrumb li a {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
  text-decoration: none;
}

.form-check-input.cart:checked {
  background-color: #db3022 !important;
  border-color: #db3022 !important;
}

.nav-pills .nav-link.active {
  background-color: #db3022 !important;
  color: #fff !important;
  border-radius: unset;
}

a#dropdownMenuButton1 {
  background: unset;
  border: unset;
}

a#dropdownMenuButton1:focus {
  box-shadow: none;
}

/* Modal payment */
.modal.show .modal-dialog {
  display: flex;
  justify-content: center;
}

.modal.show .modal-dialog .modal-content {
  width: 810px;
  height: 600px;
}

.modal-dialog .modal-content.payment .modal-header {
  justify-content: flex-start;
  padding: 15px;
}

.modal-content .modal-header .btn-close {
  margin: 0;
}

.modal-content .modal-header .modal-title.filter {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  color: #222222;
  margin-top: 2px;
}

.modal-dialog .modal-content.payment .modal-body {
  padding: 15px;
}

.modal-body .shopping h5.title,
.modal-body .payment-method h5.title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

ul.list-payment {
  padding-left: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #8e8e93;
}

li.list-item-payment {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

li.list-item-payment input.form-check-input {
  border-radius: 4px;
}

li.list-item-payment input.form-check-input:checked {
  background-color: #db3022;
  border-color: #db3022;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.modal-body .shopping h5.title, .modal-body .payment-method h5.title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.modal-body .shopping .sub-total {
  display: flex;
  justify-content: space-between;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #9b9b9b;
  margin-bottom: 10px;
}

.modal-body .shopping .sub-total span.price {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #222222;
}

.modal-content.payment .modal-footer {
  justify-content: space-between;
}

.modal-footer .shop span.title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.modal-footer .shop span.total {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #db3022;
}

.modal-content.payment .modal-footer button {
  width: 160px;
  height: 36px;
  background-color: #db3022;
  border: unset;
  border-radius: 25px;
}

img.img-thumbnail.img-fluid.uploaded-img.mr-2 {
  width: 200px;
  height: 200px;
}

@media (max-width: 576px) {
  .img-slider {
    height: 90px;
    width: 225px !important;
  }

  nav.breadcrumb {
    margin-top: 90px;
    margin-bottom: 10px;
  }

  /* Modal payment */
  .modal-content.payment {
    width: 450px;
    height: 100%;
  }

  .modal-backdrop {
    z-index: 1 !important;
  }
}
